@charset "UTF-8";
/* base */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family:sans-serif,"\5FAE\8F6F\96C5\9ED1",arial;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

div, p, dl, dt, dd {
  margin: 0;
  padding: 0;
}

li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
blockquote,
figure,
form,
fieldset,
input,
legend,
pre,
abbr,
button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

pre,
code,
address,
caption,
th,
figcaption {
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}

fieldset,
iframe,
img {
  border: 0;
}

caption,
th {
  text-align: left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
main,
section,
summary,
details,
hgroup,
figure,
figcaption {
  display: block;
}

audio,
canvas,
video,
progress {
  display: inline-block;
  vertical-align: baseline;
}

button {
  background: none;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit;
}

button:disabled {
  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

img {
  border: 0;
}

:focus {
  outline: none;
}

[hidden] {
  display: none;
}

.nobr {
  white-space: nowrap;
}

i,
em,
code {
  font-style: normal;
}

b,
strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

input:focus,
select:focus,
textarea:focus,
button:focus, button:active {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
}

.clearfix {
  zoom: 1;
}

@media print {
  body,
  #main,
  #content {
    color: #000;
  }

  a,
  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }
}

/** font style **/
.font-bold {
  font-weight: bold;
}

.font-color-red {
  color: #d1434a;
}

.font-color-orange {
  color: #ee7a23;
}

.font-color-gray {
  color: #605F5F;
}

.font-color-blue {
  color: #2bc4e2;
}

.font-color-white {
  color: #fff;
}

.font-color-black {
  color: #333;
}

.font-underline {
  text-decoration: underline;
}

.font-link:hover {
  opacity: .7;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-36 {
  font-size: 36px;
}

.font-size-48 {
  font-size: 48px;
}

.font-size-60 {
  font-size: 60px;
}

.font-size-5x {
  font-size: .5em;
}

.font-size-8x {
  font-size: .8em;
}

.font-size-12x {
  font-size: 1.2em;
}

.font-size-15x {
  font-size: 1.5em;
}

.font-size-20x {
  font-size: 2em;
}

.font-size-25x {
  font-size: 2.5em;
}

.font-size-30x {
  font-size: 3em;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-normal {
  text-transform: none;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media only screen and (max-width: 991px) {
  .font-size-12 {
    font-size: 1.2rem;
  }

  .font-size-16, .font-size-18 {
    font-size: 1.4rem;
  }

  .font-size-20, .font-size-24 {
    font-size: 1.6rem;
  }

  .font-size-32 {
    font-size: 1.8rem;
  }

  .font-size-36 {
    font-size: 2rem;
  }

  .font-size-48 {
    font-size: 2.4rem;
  }

  .font-size-48 {
    font-size: 3rem;
  }
}
html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  color: #605F5F;
  font-family: "akkurat", sans-serif;
  background: #f5f7fc;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale;
}

.hidden, hide {
  display: none;
}

a {
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out;
}

a:hover {
  color: #d1434a;
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out;
}

/*页面*/

body{
  
}
/*面包屑*/
.bread{
  height:45px;
  line-height: 45px;
  background: #f0f0f0;
}
.bread-wrap{
  padding:0 10px;
  font-size:14px;
  color:#a1a1a1;
}
.bread-wrap a {
  position: relative;
  margin-right: 20px;
}
.bread-wrap a:after{
  position: absolute;
  content: '/';
  top:0;
  height:20px;
  line-height: 20px;
}
.bread-wrap span{
  color:#d1434a;
}

.container{
  max-width: 1280px;
  margin:0 auto;
  padding:0 10px;
}

.filter-nav{
  height:55px;
  line-height: 55px;
  margin:60px 0 30px;
  padding:0 20px;
  background: #fff;
  text-align: right;
  overflow: hidden;
}

.filter-nav .default{
  margin: 0 10px;
}

.filter-nav .price{
  margin-left: 10px;
}
.filter-nav .cur{
  color: #ee7a23;
}

.filter-nav a:last{
  margin: 0;
}

.filter-nav .icon{
  display: inline-block;
  font-size: 14px;
  color: #111;
  margin-right: 10px;

}
.filterby{
  text-transform: uppercase;
  display: none;
}


.accessory-result{
  display: flex;
}
.accessory-result .filter{
  margin-right: 25px;
}
.filter{
  width:230px;
  padding:0 20px;
  color:#605f5f;
}
.filter dl{
  min-height:180px;
  margin-bottom: 50px;
}
.filter dt{
  margin-bottom: 30px;
  letter-spacing: .25em;
  text-transform: uppercase;
  font-weight: 700;
}
.filter dd{
  line-height: 1.2em;
  margin:20px 0;
}
.filter dd a{
  display: block;
  padding:5px 0;
  margin:20px 0;
}
.filter dd a:hover,
.filter .cur{
  border-left: 2px solid #ee7a23;
  padding-left: 15px;
  color: #ee7a23;
  transition: padding-left .3s ease-out;
  font-weight: 600;
}

.accessory-list-wrap{
  flex: 1;
}
.accessory-list.col-4>ul>li{
  float: left;
  width: 23.80952%;
  margin-right: 1.5873%;
  margin-bottom: 1.5873%;
  background: #fff;
  border: 2px solid #e9e9e9;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.accessory-list.col-4 > ul > li {
  width: 23.80952%;
  margin-right: 1.5873%;
  margin-bottom: 1.5873%;
}
.pic{
  overflow: hidden;
}
.accessory-list.col-4 > ul > li:nth-child(4n) {
  margin-right: 0;
}


.accessory-list > ul > li:hover {
  border-color: #ee7a23;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 0 10px #999;
  box-shadow: 0 0 10px #999;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.accessory-list .pic {
  overflow: hidden;
}

.accessory-list .pic a {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.accessory-list .pic img {
  width: 100%;
}

.accessory-list .main {
  padding: 20px 10px 10px 10px;
}

.accessory-list .main .name {
  height: 4em;
  line-height: 1.25em;
  padding-bottom: 10px;
  font-family: "moderat", sans-serif;
  font-weight: bold;
  overflow: hidden;
}

.accessory-list .main .price {
  float: left;
  line-height: 30px;
  color: #d1434a;
  font-size: 1.25em;
}

.accessory-list .main .quantity {
  float: right;
}

.accessory-list .main .btn-area {
  clear: both;
  padding-top: 10px;
}

.accessory-list .main .btn-area .btn {
  width: 100%;

  display: inline-block;
  padding: 10px 0;
  border:1px solid #d1434a;
  text-align: center;
  font-weight: 700;
  color: #d1434a;
}
.accessory-list .main .btn-area .btn:hover{
  background: #ffdddd;
}

@media only screen and (max-width: 800px){
  .container{
    width:100%;
    padding:0;
  }
  .bread{
    display: none;
  }
  .filter-nav{
    margin:0;
    height:45px;
    line-height: 45px;
    background: #f0f0f0;
  }
  .filter-nav .default,.filter-nav .price,.filter-nav .icon{
    float: left;
  }
  .filter-nav .icon{
    margin-top:15px;
  }
  .accessory-result .filter{
    position: fixed;
    background: #fff;
    top:0;
    right:0;
    bottom:0;
    padding:0;
    margin-right: 0;
    z-index: 3;
  }
  .accessory-result .filter dt{
    background: #f0f3fc;
    height: 55px;
    line-height: 55px;
    margin:0;
    padding-left: 15px;
  }
  .accessory-result .filter dd{
     margin:0;
  }
  
  .accessory-result .filter dd a{
    padding-left:15px;
    margin:0;
    height:35px;
    line-height: 35px;
  }
  .accessory-list.col-4 > ul > li{
    width:100%;
    height:200px;
    display: flex;
  }
  .accessory-list.col-4 > ul > li .pic{
    width:200px;
    height:100%;
    padding:20px;
  }

  .accessory-list.col-4 > ul > li .main{
    flex: 1;
  }
  .accessory-list.col-4 > ul > li .main .btn-area{
    float: right;
    width:120px;
  }
  .sortby{
    display: none;
  }
  .filterby{
    display: block;
  }

  .footer__secondary__nav a,
  .footer__secondary__nav span {
    display: block;
    width: 100%;
    text-align:center;
    margin:0;
 }
.mask{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
 }
}



/*footer*/
.footer{
  background-color: #f5f7fc;
  color: #333;
  position: relative;

  margin-top:50px;
}
.footer__wrap{
  max-width: 1280px;
  margin: 0 auto;
}
.footer__secondary{
  border-top: 1px solid rgba(51, 51, 51, 0.15);
}
.footer__inner{
  height:104px;

  max-width: 1280px;
  margin:0 auto;
  position: relative;
}
.footer__region{
  position: absolute;
  left: 36px;
  top:50%;
  transform: translateY(-50%);
}
.footer__region span{
  color:#ada9a5;
}
.footer__secondary__nav{
  position: absolute;
  right: 36px;
  top:50%;
  transform: translateY(-50%);
}
.footer__secondary__nav a,
.footer__secondary__nav span {
  color: #ada9a5;
  margin-left: 2em;
}

.footer__secondary__nav a:first-child,
.footer__secondary__nav span:first-child {
  margin-left: 0;
}